.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #2e6da4;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .custom-file-upload input {
    display: none;
  }
.container {
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 100vh;          
}
  