/* News.css */
.news-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
  font-style: italic; /* Added italic style */
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: rgb(161, 54, 54);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.success-message {
  color: #4caf50;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.news-item {
  background-color: #fff;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item strong {
  color: #333;
  font-weight: bold; /* Added bold style */
}

.news-item p {
  color: #555;
  font-weight: bold; /* Added bold style */
}

.button-container {
  margin-top: 10px;
}

.update-button,
.delete-button {
  background-color: #2196f3;
  color: white;
  padding: 8px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover,
.delete-button:hover {
  background-color: #0b7dda;
}
