/* Announcements.module.css */

.announcementContainer {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.announcementText {
  color: #555;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.deleteButton:hover {
  background-color: #c82333;
}
