/* App.css */
.app {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item-container {
    position: relative;
    margin: 10px;
  }
  
  .item-details {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .item-name {
    margin: 0;
    font-size: 18px;
  }
  
  .item-place {
    margin: 0;
    font-size: 14px;
  }
  